.first {
  
  text-transform: uppercase;
  background: linear-gradient(50deg,#ea0505,#ffea05);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.price {
  color: grey;
  font-size: 22px;
}
.product--image img{
  width: 100%;
  object-fit:cover;
  height: 100vh;
}
@media screen and (max-width: 500px){
  .product--image img{
    height: 70vh;
  }
}

.cards {
  margin-top: 90px;
  
}

@media screen and (max-width: 768px) {
  .cards {
    margin-top: 70px;
  }
}
.components {
  position: absolute;
  margin: 200px 170px;
}
@media (max-width: 768px) {
  .components {
    margin: 150px 50px;
  }
}



.discrip {
  max-width: 500px;
  background: linear-gradient(90deg,#0b536e,#ac2323);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
margin: 10px 0;
padding-right: 70px;

}

h1{
  background: linear-gradient(90deg,#0b536e,#ac2323);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.components.slide-in {
  animation: slideIn 0.9s ease forwards;
}
.cards.slide-in {
  animation: slideIn 0.9s ease forwards;
}
