.work-container{
    margin-top: 40px;
}

.project-container{
 display: flex;
 flex-wrap: wrap;
 margin-top: 40px;
}
.project-heading {
    text-align: center;
     
}
.project-card{
    padding:30px ;
}
.pro-btns{
    top: 30px;
}
.btn1{

   padding: 10px 26px;
background-color: #f9fafb;
  border: 2px solid #111827;

  cursor: pointer;
  transition: all 0.3s;
  }
  .btn1:hover::after{
    translate: 0;
  }
  .btn1::after{
    content: "";
    inset: 0;
    background-color: #111827;
    border-radius: inherit;
    translate: 6px 6px;
    transition: 0.25s;
    z-index: -1;
  }
.btn1:hover
{
  background-color: #111827;
  color:#f9fafb;
}
.pro-derails p{
    padding: 20px 0;
}

.adddata{
   display: flex;
}