.work-container{
    margin-top: 40px;
}

.project-container{
 display: flex;
 flex-wrap: wrap;
 margin-top: 40px;
}
.project-heading {
    text-align: center;
     
}
.project-card{
  padding: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  transition: transform 0.3s ease;
}
.project-card:hover {
  transform: translateY(-5px); 
}

.pro-btns{
    top: 30px;
}
.btn1{

   padding: 10px 26px;
background-color: #f9fafb;
  border: 2px solid #111827;

  cursor: pointer;
  transition: all 0.3s;
  }
  .btn1:hover::after{
    translate: 0;
  }
  .btn1::after{
    content: "";
    inset: 0;
    background-color: #111827;
    border-radius: inherit;
    translate: 6px 6px;
    transition: 0.25s;
    z-index: -1;
  }
.btn1:hover
{
  background-color: #111827;
  color:#f9fafb;
}


.adddata{
   display: flex;
}
.project-title {
  margin-top: 10px;
  font-size: 18px; 
  color: #333; 
}

.pro-details  {
  display:grid;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 14px;  
  color: #666;    
}
.pro-details p{
  font-weight: 700;
  background: linear-gradient(90deg,#0b536e,#ac2323);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pro-btns {
  margin-top: 15px; 
}

.btn1 {
  padding: 10px 26px;
  background-color: #f9fafb;
  border: 2px solid #111827;
  cursor: pointer;
  transition: all 0.3s;
}

.btn1:hover::after {
  transform: translate(0);
}

.btn1::after {
  content: "";
  inset: 0;
  background-color: #111827;
  border-radius: inherit;
  transform: translate(6px, 6px);
  transition: 0.25s;
  z-index: -1;
}

.btn1:hover {
  background-color: #111827;
  color: #f9fafb;
}
.project-title {
  background: linear-gradient(90deg,#0b536e,#ac2323);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}