.work-container{
    margin-top: 40px;
}

.project-container{
 display: flex;
 flex-wrap: wrap;
 margin-top: 40px;
}
.project-heading {
    text-align: center;
    background: linear-gradient(90deg,#ac2323,#0b536e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
     
}
.project-card{
  padding: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  transition: transform 0.3s ease;
}
.project-card:hover {
  transform: translateY(-5px); 
}

.pro-btns{
    top: 30px;
}
.btn1{

   padding: 10px 26px;
background-color: #f9fafb;
  border: 2px solid #111827;

  cursor: pointer;
  transition: all 0.3s;
  }
  .btn1:hover::after{
    translate: 0;
  }
  .btn1::after{
    content: "";
    inset: 0;
    background-color: #111827;
    border-radius: inherit;
    translate: 6px 6px;
    transition: 0.25s;
    z-index: -1;
  }
.btn1:hover
{
  background-color: #111827;
  color:#f9fafb;
}


.adddata{
   display: flex;
}
.project-title {
  margin-top: 10px;
  font-size: 18px; 
  color: #333; 
}

.pro-details  {
  display:grid;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 14px;  
  color: #666;    
}
.pro-details p{
  font-weight: 700;
  background: linear-gradient(90deg,#0b536e,#ac2323);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pro-btns {
  margin-top: 15px; 
}

.btn1 {
  padding: 10px 26px;
  background-color: #f9fafb;
  border: 2px solid #111827;
  cursor: pointer;
  transition: all 0.3s;
}

.btn1:hover::after {
  transform: translate(0);
}

.btn1::after {
  content: "";
  inset: 0;
  background-color: #111827;
  border-radius: inherit;
  transform: translate(6px, 6px);
  transition: 0.25s;
  z-index: -1;
}

.btn1:hover {
  background-color: #111827;
  color: #f9fafb;
}
.project-title {
  background: linear-gradient(90deg,#0b536e,#ac2323);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.remove-btn{
  padding: 10px 26px;
  background-color: #f9fafb;
    border: 2px solid #111827;
  margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.remove-btn::after{
  content: "";
  inset: 0;
  background-color: #111827;
  border-radius: inherit;
  translate: 6px 6px;
  transition: 0.25s;
  z-index: -1;
}
.remove-btn:hover
{
background-color: #111827;
color:#f9fafb;
}
.total-price{
  margin-top: 50px;
  margin-left:40%;
}
.btn2{
  padding: 10px 26px;
  background-color: #f9fafb;
    border: 2px solid #111827;
  margin: 100px 0px 0px 120px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn2::after{
  content: "";
  inset: 0;
  background-color: #111827;
  border-radius: inherit;
  translate: 6px 6px;
  transition: 0.25s;
  z-index: -1;
}
.btn2:hover
{
background-color: #111827;
color:#f9fafb;
}
.cart-container h1{
  margin: 20px 40px;
  background: linear-gradient(90deg,#0b536e,#ac2323);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.total-price{
margin: 20px 0px 0px 600px;
}
@media screen and (max-width: 500px){
  .total-price{
     margin:30px 10px 50px 110px;
  }
}
.total-price .btn1{
position: absolute;
margin:30px 0px 0px -125px;

}
@media screen and (max-width: 500px){
  .total-price .btn1{
     margin:30px 0px 0px -125px;
  }
}
