
.fashionNew-head{
    margin-top: 80px;
}
.fashion-name , .fashion {
    margin-bottom: 45px;
    text-align: center;
   
}

@media screen and (max-width: 1040px) {
    .fashion-name {

        margin: 40px 0px 0px 0px;
    }
}

.fashion-name span{
    color: #e53637;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    display: block;

}
.fashion-name h2
{
    color: #111111;
    font-weight: 700;
    line-height: 46px;
}
.project-info{
    background-color:hsl(0, 0%, 100%);
    width: 300px;
    position: relative;
    margin: 240px 0px 0px 30px;
    flex-wrap: wrap;
}
.new-trend-img{
position: absolute;
background-color: #fff;
}
.fashion-item a {
    display: inline-block;
    color: #111111;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 3px 0;
    position: relative;  
    overflow: hidden;  
}

.fashion-item a::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #111111; /* Default line color */
    content: "";
    transition: all 0.3s ease-in-out;
    transform: scaleX(0); 
    transform-origin: left;
}

.fashion-item a:hover::after {
    transform: scaleX(1);
    background: #B33030 /* Change to your desired color */
}
.fashionNew-head .project-container{
    padding:0px 50px 0px 0px;
}