    
  
.header
{
 display: flex;
 justify-content: space-between; 
 align-items: center;
 padding: 1rem;  
 position: fixed;
 width: 100%;
 height: 90px;
 z-index: 10;
}
.header-bg{
    background-color: rgba(255, 255, 255, 0.85);
    transition: 0.5s;
}
.nav-menu
{
    display: flex;
}
.nav-menu li
{
padding: 0 1rem;
background: linear-gradient(90deg,#0b536e,#ac2323);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}
.nav-menu li a
{
    font-size: 1.2rem;
    font-weight: 500;
}
.hamburger{
    display: none;
}
@media screen and (max-width: 1040px){
.nav-menu{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:white;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.3s;
}
.nav-menu.active{
left:0 ;
}
.nav-menu li{
    padding: 1rem 0;

}

.nav-menu li a{
    font-size: 2rem;
}
.hamburger{
    display: initial;
}
}

  


  .cart{
    font-size: 30px;
    cursor: pointer;
  }
  span{
    font-size: 20px;
    position: relative;
    bottom: 20px;
    right: 4px;
  }
  .search-bar{
    font-size: 25px;
    cursor: pointer;
  }
  .cross{
    margin-left: 48%;
    position: absolute;
    width: 50px;
    height: 50px;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 28px;
    line-height: 28px;
    top: 30px;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  @media screen and (max-width: 1040px) {
    .cross{
        margin-left: 42%;
    }
  }
  .search-write{
    margin-top: 20%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    border-bottom: 1px solid rgb(69, 78, 69);
    }
@media screen and (max-width: 1040px) {
    .search-write{
        margin-top: 80%;
    }
}

    .Search-input{
        height: 100vh;
        width: 100%;
        background-color:#000 ;
        position: fixed;
        z-index: 100;
    }
    @keyframes slideIn {
        from {
          transform: translateX(-100%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }
      
      .Search-input.slide-in {
        animation: slideIn 0.9s ease forwards;
      }
    .Search-input input{
        width: 45%;
        margin-left:30%;
        font-size: 40px;
    }
    @media screen and (max-width: 1040px){
        .Search-input input{
            width: 70%;
            margin-left:20%;
            font-size: 20px;
        }
    }